/*--------------------------------------------------------------
## Widget Style
--------------------------------------------------------------*/
/*
* Common
*/
.widget-title {
    font-size: 1.5em;
    text-transform: uppercase;
    position: relative;
		padding-bottom: 15px;
		margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.widget-title:after {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 15%;
    height: 8px;
    background-color: #333;
    left: 0;
}
.widget img {
  width: 100%;
}

/* Widget Category*/
.widget-cat {}

.widget-cat article {
  margin-bottom: 10px;
}

/* Widget Popular */
.widget-popular ul {
  list-style: none;
}
.widget-popular li {
  position: relative;
}
.widget-popular article .post-popular {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0 1em;
  /*background-color: rgba(51, 51, 51, 0.65);*/
  z-index: 5;

}
.widget-popular article h4 {
  color: #333!important;
}
.widget-popular article h4 a {

  padding: 10px;
    display: block;
    background-color: #fff;
}
.widget-popular .post-categories a {
    padding: 0 10px;
    background-color: #00c8ff;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
}

/* Widget_archive */
.widget_archive li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px!important;
    background-color: #f0442c;
}

.widget_archive li a {
    color: #eee;
}

/* Widget Category 3 Col */
.widget .first {
  position: relative;
}
.widget .first .detail {
  position: absolute;
  bottom: 15px;
}
.widget .first .detail h4 {
  color: #fff;
  padding: 15px;
  text-shadow: 1px 1px 1px #333;
}

.widget-featured img {
  max-height: 200px;
  min-height: 200px;
}
