/*----------------------------------------*/
/*  User defined custom style
/*----------------------------------------*/

/*
* General
*/

a {
  color: #f0442c;
}

img {
  height: auto;
  max-width: 100%;
}

.screen-reader-text {
  display: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #aaa;
}

.side-right .wrap-sticky nav.navbar.bootsnav.sticked {
    left: 100px;
}

/* display none category button*/
.cat-btn {
	display: none;
}
