/*----------------------------------------*/
/*  User defined custom style
/*----------------------------------------*/

/*
* General
*/

a {
  color: lightblue;
}

img {
  height: auto;
  max-width: 100%;
}

.screen-reader-text {
  display: none;
}


/* display none category button*/
.cat-btn {
	display: none;
}
